[Unit]
Description=Quran Game Daphne
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/app
EnvironmentFile=/home/ubuntu/app/.env
ExecStart=/home/ubuntu/app/venv/bin/daphne -b 127.0.0.1 -p 8000 quran_game.asgi:application
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
